.linechart {
    width: 30%;
    height: 263px;
    border-radius: 5px;
    background-color: red;
}

.title {
    position: absolute;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px; 
    margin-top: 25px;
    margin-left: 30px;
    color: rgba(255, 255, 255, 0.5);
}

.toolTipContainer {
    background-color: white;
    width: 40px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolTipText {
    color: black;
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
}